.App {
    text-align: center;
}

.header {
    height: 120px;
}

.headerTitle {
    font-family: fantasy;
    color: #738595;
}

.container {
    margin-top: 80px;
}

.MuiFormControl-root.css-1nrlq1o-MuiFormControl-root {
    width: 85%;
}

.css-vxpc81-indicatorContainer {
    color: #738595 !important;
}

.css-vxpc81-indicatorContainer:hover {
    color: #645757 !important;
}

.css-vf66he-indicatorContainer {
    color: #738595 !important;
}

.css-vf66he-indicatorContainer:hover {
    color: #738595 !important;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}